<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.waste_recycling.mapper.IAddressMapper">
    <resultMap id="AddressResultMap" type="cn.edu.guet.waste_recycling.bean.Address">
        <id column="address_id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
        <result column="full_address" jdbcType="VARCHAR" property="fullAddress"/>
        <result column="is_default" jdbcType="TINYINT" property="isDefault"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
    </resultMap>
    <insert id="addAddressToId">
        INSERT
        INTO `address`(user_name,phone,area_name,full_address,user_id)
        VALUES(#{name},#{phone},#{areaName},#{fullAddress},#{userId})
    </insert>
    <update id="updateAddressByAId">
        UPDATE address
        SET user_name=#{name},phone=#{phone},area_name=#{areaName},full_address=#{fullAddress}
        WHERE address_id=#{id}
    </update>
    <select id="getAddressById" resultMap="AddressResultMap">
        SELECT *
        FROM address
        WHERE user_id=#{value}
    </select>
</mapper>