<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.waste_recycling.mapper.IAreaMapper">
    <resultMap id="AreaResultMap" type="cn.edu.guet.waste_recycling.bean.Area">
        <id column="area_id" jdbcType="BIGINT" property="id"/>
        <result column="area_name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
    </resultMap>
    <select id="getAreas" resultMap="AreaResultMap">
        SELECT *
        FROM area
    </select>
</mapper>