<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.waste_recycling.mapper.IOrderDetailsMapper">
    <insert id="insertOD">
        INSERT
        INTO `order_details`(order_id,details_id)
        VALUES(#{oid},#{did})
    </insert>
    <select id="getDidByOid" resultType="java.lang.Long">
        SELECT details_id
        FROM order_details
        WHERE order_id=#{value}
    </select>
</mapper>