<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.waste_recycling.mapper.IOrderMapper">
    <resultMap id="OrderResultMap" type="cn.edu.guet.waste_recycling.bean.Order">
        <id column="order_id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="recycler_id" jdbcType="BIGINT" property="recyclerId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="book_date" jdbcType="VARCHAR" property="bookDate"/>
        <result column="date" jdbcType="TIMESTAMP" property="date"/>
        <result column="address_id" jdbcType="BIGINT" property="addressId"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
    </resultMap>
    <resultMap id="DetailsResultMap" type="cn.edu.guet.waste_recycling.bean.OrderDetails">
        <id column="details_id" jdbcType="BIGINT" property="id"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="weight" jdbcType="DECIMAL" property="weight"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
    </resultMap>
    <sql id="Base_Column_List">

    </sql>
    <insert id="insertOrder">
        INSERT
        INTO `order`(user_id,book_date,date,address_id)
        VALUES(#{userId},#{bookDate},#{date},#{addressId})
    </insert>
    <select id="getOrders" resultMap="OrderResultMap">
        SELECT o.*,d.*
        FROM `order` o,details d,order_details od
        WHERE o.order_id=od.order_id AND d.details_id=od.details_id
    </select>
    <select id="getOrderByDate" resultMap="OrderResultMap">
        SELECT *
        FROM `order`
        WHERE date=#{value}
    </select>
    <select id="getOrdersByUId" resultMap="OrderResultMap">
        SELECT o.*, d.goods_id, d.weight, a.user_name, a.phone, a.area_name, a.full_address
        FROM `order` o, details d, order_details od,
             (SELECT *
              FROM address
              WHERE user_id=#{value}) a
        WHERE o.user_id=#{value} AND o.del_flag=0
        AND o.order_id=od.order_id AND d.details_id=od.details_id
    </select>
</mapper>