<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.waste_recycling.mapper.IOrderMapper">
    <resultMap id="OrderResultMap" type="cn.edu.guet.waste_recycling.bean.Order">
        <id column="order_id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="recycler_id" jdbcType="BIGINT" property="recyclerId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="book_date" jdbcType="VARCHAR" property="bookDate"/>
        <result column="date" jdbcType="TIMESTAMP" property="date"/>
        <result column="address_id" jdbcType="BIGINT" property="addressId"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <collection property="details" resultMap="DetailsResultMap"/>
        <collection property="address" resultMap="AddressResultMap"/>
    </resultMap>
    <resultMap id="DetailsResultMap" type="cn.edu.guet.waste_recycling.bean.OrderDetails">
        <id column="details_id" jdbcType="BIGINT" property="id"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="weight" jdbcType="DECIMAL" property="weight"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
    </resultMap>
    <resultMap id="AddressResultMap" type="cn.edu.guet.waste_recycling.bean.Address">
        <id column="address_id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
        <result column="full_address" jdbcType="VARCHAR" property="fullAddress"/>
        <result column="is_default" jdbcType="TINYINT" property="isDefault"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        SELECT o.*, d.goods_id, goods_name, d.weight, a.user_name, a.phone, a.area_name, a.full_address
        FROM `order` o, details d, order_details od, address a, goods g
        WHERE o.del_flag=0
        AND o.order_id=od.order_id AND d.details_id=od.details_id
        AND o.address_id=a.address_id
        AND d.goods_id=g.goods_id
    </sql>
    <insert id="insertOrder">
        INSERT
        INTO `order`(user_id,book_date,date,address_id)
        VALUES(#{userId},#{bookDate},#{date},#{addressId})
    </insert>
    <update id="updateStatus">
        UPDATE `order`
        SET status=#{status}
        WHERE order_id=#{orderId}
    </update>
    <update id="acceptOrderByRec">
        UPDATE `order`
        SET recycler_id=#{recyclerId}, status=1
        WHERE order_id=#{orderId}
    </update>
    <select id="getOrders" resultMap="OrderResultMap">
        <include refid="Base_Column_List"/>
    </select>
    <select id="getOrderByDate" resultMap="OrderResultMap">
        SELECT *
        FROM `order`
        WHERE date=#{value}
    </select>
    <select id="getOrdersByUId" resultMap="OrderResultMap">
        <include refid="Base_Column_List"/>
        AND o.user_id=#{value}
    </select>
    <select id="getOrdersByRId" resultMap="OrderResultMap">
        <include refid="Base_Column_List"/>
        AND o.recycler_id=#{value}
    </select>
    <select id="getAcceptableOrders" resultMap="OrderResultMap">
        <include refid="Base_Column_List"/>
        AND ISNULL(recycler_id)
    </select>
</mapper>