<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.waste_recycling.mapper.IUserRoleMapper">
    <update id="updateURByUId">
        UPDATE user_role
        SET role_id=#{rid}
        WHERE user_id=#{uid}
    </update>

</mapper>